@{
    ViewData["Title"] = "О библиотеци";
    Layout = "BasicCir";
}
<head>
    <style>
        .neki {
            padding: 10px;
            background: #c2a073;
        }
    </style>
</head>
<div class="neki">
    <p style="        text-align: justify;
        font-family: Arial, serif;
        margin-bottom:0;
">
        Библиотека Владичанског двора у Мостару „Јоаникије Памучина“ баштини традицију Библиотеке Српске православне црквене општине мостарске, чији богати фонд је деведесетих година прошлог вијека у потпуности уништен у ратним дејствима на овом простору. Од свог обнављања, 2012. године, име носи по архимандриту Јоаникују Памучини (1810-1870), једном од најзначајнијих стваралаца „првог мостарског круга“ књижевних и културно-просвјетних личности, који је у многоме доприњео образовању знатно познатијег „другог мостарског круга“, у који се сврставају Шантић, Дучић, Ћоровић, Шола, Ђикић… Управник Библиотеке Владичанског двора у Мостару „Јоаникије Памучнина“, која дјелује у саставу Српске православне црквене општине мостарске, јесте ђакон Бранислав Рајковић. Непрестано обнављајући и увећавајући свој фонд, Библиотека „Јоаникије Памучина“ прикупља, како антикварне књиге, тако и савремена издања, нарочито тематски везана за подручја данашње и Херцеговине кроз историју. У том смислу све чешће свој допринос дају многе институције и појединци.
        </p>
</div>
