@{
    ViewData["Title"] = "O biblioteci";
    Layout = "Basic";
}
<head>
    <style>
        .neki {
            padding: 10px;
            background: #73c2b9;
        }

    </style>
</head>
<div class="neki">
    <p style="        text-align: justify;
        font-family: Arial, serif;
        margin-bottom:0;
">
        Biblioteka Vladičanskog dvora u Mostaru „Joanikije Pamučina“ baštini tradiciju Biblioteke Srpske pravoslavne crkvene opštine mostarske, čiji bogati fond je devedesetih godina prošlog vijeka u potpunosti uništen u ratnim dejstvima na ovom prostoru. Od svog obnavljanja, 2012. godine, ime nosi po arhimandritu Joanikuju Pamučini (1810-1870), jednom od najznačajnijih stvaralaca „prvog mostarskog kruga“ književnih i kulturno-prosvjetnih ličnosti, koji je u mnogome doprinjeo obrazovanju znatno poznatijeg „drugog mostarskog kruga“, u koji se svrstavaju Šantić, Dučić, Ćorović, Šola, Đikić… Upravnik Biblioteke Vladičanskog dvora u Mostaru „Joanikije Pamučnina“, koja djeluje u sastavu Srpske pravoslavne crkvene opštine mostarske, jeste đakon Branislav Rajković. Neprestano obnavljajući i uvećavajući svoj fond, Biblioteka „Joanikije Pamučina“ prikuplja, kako antikvarne knjige, tako i savremena izdanja, naročito tematski vezana za područja današnje i Hercegovine kroz istoriju. U tom smislu sve češće svoj doprinos daju mnoge institucije i pojedinci.
    </p>
</div>
