@{
    ViewData["Title"] = "Храм Светог Василија Острошког у Благају";
    Layout = "BasicCir";
}
<head>
    <style>
        .neki {
            padding: 10px;
            background: #c2a073;
        }

            .neki p {
                font-family: Arial, serif;
            }
    </style>
</head>
<div class="neki">
    <p style="text-align:justify;">
        Храм Светог Василија Острошког у Благају, налази се на подручју древног града Херцега Стефана Вукчића Косаче. Ово је, кроз историју сједиште хумских кнезова, међу којима и чувеног Херцег Стефана Вукчића Косаче, који се 1448 године прогласио војводом од Светог Саве.
        </p>
    <p style="text-align:justify;">
        Православни храм Светог Василија Острошког и Тврдошког Чудотворца саграђен је крајем XИX вијека, као једнобродна грађевина са високим каменим звоником уз западни улаз. У протеклом рату је гранатиран, након чега су преостали разрушени зидови и дио звоника, а тренутно је у фази обнове.
        </p>
    <p style="text-align:justify;">
        У XИИ вијеку, за вријеме великог српског жупана Стефана Немање, његов брат и хумски кнез Мирослав (по чијој наруџбини је написано и чувено Мирослављево јеванђеље, најстарији сачувани ћирилични споменик) на подручју Благаја подиже манастир Светог Козме и Дамјана, о чему свједочи и натпис на надгробној плочи на оближњем гробљу, као и још до краја не истражени археолошки остаци на мјесту гдје је био манастир.
        </p>
    <p style="text-align:justify;">
        Храм Светог Василија Острошког у Благају био је центар Црквене општине благајске, док је данас средиште Парохије треће мостарске.
        </p>
</div>