@{
    ViewData["Title"] = "Hram Svetog Vasilija Ostroškog u Blagaju";
    Layout = "Basic";
}
<head>
    <style>
        .neki {
            padding: 10px;
            background: #c2a073;
        }
            .neki p {
                font-family: Arial, serif;
            }
    </style>
</head>
<div class="neki">
    <p style="text-align:justify;">
        Hram Svetog Vasilija Ostroškog u Blagaju, nalazi se na području drevnog grada Hercega Stefana Vukčića Kosače. Ovo je, kroz istoriju sjedište humskih knezova, među kojima i čuvenog Herceg Stefana Vukčića Kosače, koji se 1448 godine proglasio vojvodom od Svetog Save.
        </p>
    <p style="text-align:justify;">
        Pravoslavni hram Svetog Vasilija Ostroškog i Tvrdoškog Čudotvorca sagrađen je krajem XIX vijeka, kao jednobrodna građevina sa visokim kamenim zvonikom uz zapadni ulaz. U proteklom ratu je granatiran, nakon čega su preostali razrušeni zidovi i dio zvonika, a trenutno je u fazi obnove.
        </p>
    <p style="text-align:justify;">
        U XII vijeku, za vrijeme velikog srpskog župana Stefana Nemanje, njegov brat i humski knez Miroslav (po čijoj narudžbini je napisano i čuveno Miroslavljevo jevanđelje, najstariji sačuvani ćirilični spomenik) na području Blagaja podiže manastir Svetog Kozme i Damjana, o čemu svjedoči i natpis na nadgrobnoj ploči na obližnjem groblju, kao i još do kraja ne istraženi arheološki ostaci na mjestu gdje je bio manastir.
        </p>
    <p style="text-align:justify;">
        Hram Svetog Vasilija Ostroškog u Blagaju bio je centar Crkvene opštine blagajske, dok je danas središte Parohije treće mostarske.
    </p>
</div>