@{
    ViewData["Title"] = " Гробље у Пашиновцу";
    Layout = "BasicCir";
}
<head>
    <style>
        .neki {
            padding: 10px;
            background: #c2a073;
        }

            .neki p {
                font-family: Arial, serif;
            }
    </style>
</head>
<div class="neki">
    <p style="text-align:justify;">
        Старо православно гробље у Пашиновцу смјештено је у сјевероисточном дијелу Мостара, на удаљености од отприлике 350 метара од Бјелушинског гробља. Некропола је постављена на падини, окренутој према граду, односно на југозападној страни, и заузима простор од више хектара.
        </p>
    <p style="text-align:justify;">
        У мостарској јавности постоји мишљење да је Бјелушинско гробље најстарија православна некропола у Мостару и да је Пашиновачко гробље знатно млађе. Такође се вјерује да је и гробље које се налази изнад Старе православне цркве старије од овога. Међутим, увидом у хронологију настанка споменика, може се закључити да је један дио овог гробља савремен са Бјелушинским гробљем и да се на њему налази већи број старијих надгробника. Најстарији дио овог гробља се налази при врху некрополе, стотињак метара од сјеверозападне границе. На површини око један и по хектар концентрисани су готово сви надгробници из XВИИ и XВИИИ вијека. Они су окружени мноштвом споменика из XИX вијека који их својим већим димензијама наткриљују, тако да су теже уочљиви. Судећи према најстаријим споменицима, који се временски тачно могу одредити, и онима који се хронолошки могу сврстати у исту групу, сматра се да је гробље на Пашиновцу утемељено у раздобљу од XВИ до XВИИ вијека. У Пашиновачком гробљу је евидентирано и идентификовано укупно 18 надгробника, са епитафима из XВИИ вијека и 260 споменика са натписима из XВИИИ вијека. Накнадно је откривено и идентификовано још 30 надгробника из овог периода. Најстарији сачувани надгробник с натписом потиче из 1687. године и припада извјесном Милутину.
        </p>
    <p style="text-align:justify;">
        Споменици у гробљу на Пашиновцу готово су истовјетних облика са надгробницима на Бјелушинама. Сличности се огледају и у декоративним мотивима, као и једнаким епитафним својствима, што упућује на закључак да су их клесали и натписе урезивали исти мајстори. Споменици из XИX вијека тек треба да се истраже и досад је идентификовано укупно 376 надгробника са натписима који потичу из овог периода.
        </p>
</div>