@{
    ViewData["Title"] = "Groblje u Pašinovcu";
    Layout = "Basic";
}
<head>
    <style>
        .neki {
            padding: 10px;
            background: #73c2b9;
        }
            .neki p {
                font-family: Arial, serif;
            }
    </style>
</head>
<div class="neki">
    <p style="text-align:justify;">
        Staro pravoslavno groblje u Pašinovcu smješteno je u sjeveroistočnom dijelu Mostara, na udaljenosti od otprilike 350 metara od Bjelušinskog groblja. Nekropola je postavljena na padini, okrenutoj prema gradu, odnosno na jugozapadnoj strani, i zauzima prostor od više hektara.
    </p>
    <p style="text-align:justify;">
        U mostarskoj javnosti postoji mišljenje da je Bjelušinsko groblje najstarija pravoslavna nekropola u Mostaru i da je Pašinovačko groblje znatno mlađe. Takođe se vjeruje da je i groblje koje se nalazi iznad Stare pravoslavne crkve starije od ovoga. Međutim, uvidom u hronologiju nastanka spomenika, može se zaključiti da je jedan dio ovog groblja savremen sa Bjelušinskim grobljem i da se na njemu nalazi veći broj starijih nadgrobnika. Najstariji dio ovog groblja se nalazi pri vrhu nekropole, stotinjak metara od sjeverozapadne granice. Na površini oko jedan i po hektar koncentrisani su gotovo svi nadgrobnici iz XVII i XVIII vijeka. Oni su okruženi mnoštvom spomenika iz XIX vijeka koji ih svojim većim dimenzijama natkriljuju, tako da su teže uočljivi. Sudeći prema najstarijim spomenicima, koji se vremenski tačno mogu odrediti, i onima koji se hronološki mogu svrstati u istu grupu, smatra se da je groblje na Pašinovcu utemeljeno u razdoblju od XVI do XVII vijeka. U Pašinovačkom groblju je evidentirano i identifikovano ukupno 18 nadgrobnika, sa epitafima iz XVII vijeka i 260 spomenika sa natpisima iz XVIII vijeka. Naknadno je otkriveno i identifikovano još 30 nadgrobnika iz ovog perioda. Najstariji sačuvani nadgrobnik s natpisom potiče iz 1687. godine i pripada izvjesnom Milutinu.
    </p>
    <p style="text-align:justify;">
        Spomenici u groblju na Pašinovcu gotovo su istovjetnih oblika sa nadgrobnicima na Bjelušinama. Sličnosti se ogledaju i u dekorativnim motivima, kao i jednakim epitafnim svojstvima, što upućuje na zaključak da su ih klesali i natpise urezivali isti majstori. Spomenici iz XIX vijeka tek treba da se istraže i dosad je identifikovano ukupno 376 nadgrobnika sa natpisima koji potiču iz ovog perioda.
        </p>
</div>