@{
    ViewData["Title"] = "Гробље у Бјелушинама";
    Layout = "BasicCir";
}
<head>
    <style>
        .neki {
            padding: 10px;
            background: #c2a073;
        }

            .neki p {
                font-family: Arial, serif;
            }
    </style>
</head>
<div class="neki">
    <p style="text-align:justify;">
        Старо православно гробље у Бјелушинама смјештено је у сјевероисточном дијелу Мостара, на заравни, поред чије западне стране протиче бујичарски поток Суходолина. Гробље се простире на површини од око један хектар, а облик који ова некропола заузима одговара неправилном четвороуглу. Гробље је оријентисано према југозападу.
        </p>
    <p style="text-align:justify;">
        Гробље у Бјелушинама настало је, према неким подацима, раније него што то показују натписи на споменицима. Посредством аналогије, гробље је датовано у XВИ вијек. На ту чињеницу указује један број надгробника без епитафа, а који су изведени од сиге. Њихов архаични облик изазито подсјећа на крстолике стећке, а велика сличност огледа се и у начину обраде камена. Сродности са стећцима видљиве су и на надгробницима са натписима, гдје се јављају слични облици и типови слова. Највећи број надгробних споменика је у облику крста, док је незнатан број у облику стеле, а изузетно се могу уочити надгробници у облику обелиска или стуба. Најстарији очувани надгробник са епитафом на овом гробљу потиче из 1683. године, а цијелом својом садржином и карактером натписа показује сличност са многим примјерима херцеговачких стећака у облику крста. Од 850 сачуваних надгробника са натписима, укупно осам их је датовано у XВИИ вијек, док су из XВИИИ вијека идентификована 154 надгробна споменика. Међу драгоћеним споменицима и крстовима са богатом каменом орнаментиком и натписима, на православном гробљу у Бјелушинама налазе се и гробови знаменитих житеља Мостара и њихових породица, попут Шантића, Ћоровића…
        </p>
</div>