@{
    ViewData["Title"] = "Groblje u Bjelušinama";
    Layout = "Basic";
}
<head>
    <style>
        .neki {
            padding: 10px;
            background: #c2a073;
        }
            .neki p {
                font-family: Arial, serif;
            }
    </style>
</head>
<div class="neki">
    <p style="text-align:justify;">
        Staro pravoslavno groblje u Bjelušinama smješteno je u sjeveroistočnom dijelu Mostara, na zaravni, pored čije zapadne strane protiče bujičarski potok Suhodolina. Groblje se prostire na površini od oko jedan hektar, a oblik koji ova nekropola zauzima odgovara nepravilnom četvorouglu. Groblje je orijentisano prema jugozapadu.
        </p>
    <p style="text-align:justify;">
        Groblje u Bjelušinama nastalo je, prema nekim podacima, ranije nego što to pokazuju natpisi na spomenicima. Posredstvom analogije, groblje je datovano u XVI vijek. Na tu činjenicu ukazuje jedan broj nadgrobnika bez epitafa, a koji su izvedeni od sige. Njihov arhaični oblik izazito podsjeća na krstolike stećke, a velika sličnost ogleda se i u načinu obrade kamena. Srodnosti sa stećcima vidljive su i na nadgrobnicima sa natpisima, gdje se javljaju slični oblici i tipovi slova. Najveći broj nadgrobnih spomenika je u obliku krsta, dok je neznatan broj u obliku stele, a izuzetno se mogu uočiti nadgrobnici u obliku obeliska ili stuba. Najstariji očuvani nadgrobnik sa epitafom na ovom groblju potiče iz 1683. godine, a cijelom svojom sadržinom i karakterom natpisa pokazuje sličnost sa mnogim primjerima hercegovačkih stećaka u obliku krsta. Od 850 sačuvanih nadgrobnika sa natpisima, ukupno osam ih je datovano u XVII vijek, dok su iz XVIII vijeka identifikovana 154 nadgrobna spomenika. Među dragocjenim spomenicima i krstovima sa bogatom kamenom ornamentikom i natpisima, na pravoslavnom groblju u Bjelušinama nalaze se i grobovi znamenitih žitelja Mostara i njihovih porodica, poput Šantića, Ćorovića…
        </p>
</div>