@{
    ViewData["Title"] = "Groblje iznad Stare Crkve";
    Layout = "Basic";
}
<head>
    <style>
        .neki {
            padding: 10px;
            background: #73c2b9;
        }
            .neki p {
                font-family: Arial, serif;
            }
    </style>
</head>
<div class="neki">
    <p style="text-align:justify;">
        Ovo groblje nalazi se na uzvišenju iznad Stare pravoslavne crkve u Mostaru, posvećene Rođenju Presvete Bogorodice. Nekropola zauzima oblik nepravilnog četvorougla.
        </p>
    <p style="text-align:justify;">
        Ranije je postojalo mišljenje da je ovo groblje starije od Pašinovačkog, a da je pak, mlađe od groblja na Bjelušinama. Međutim, za donošenje zaključaka o starini ovih nekropola, od ključne važnosti biće nova arheološka istraživanja.
        </p>
</div>