@{
    ViewData["Title"] = "Гробље изнад Старе Цркве";
    Layout = "BasicCir";
}
<head>
    <style>
        .neki {
            padding: 10px;
            background: #c2a073;
        }

            .neki p {
                font-family: Arial, serif;
            }
    </style>
</head>
<div class="neki">
    <p style="text-align:justify;">
        Ово гробље налази се на узвишењу изнад Старе православне цркве у Мостару, посвећене Рођењу Пресвете Богородице. Некропола заузима облик неправилног четвороугла.
        </p>
    <p style="text-align:justify;">
        Раније је постојало мишљење да је ово гробље старије од Пашиновачког, а да је пак, млађе од гробља на Бјелушинама. Међутим, за доношење закључака о старини ових некропола, од кључне важности биће нова археолошка истраживања.
        </p>
</div>