@{
    ViewData["Title"] = "Историја Православног Хришћанства у Мостару";
    Layout = "BasicCir";
}
<head>
    <style>
        .neki {
            padding: 10px;
            background: #c2a073;
        }
    </style>
</head>
<div class="neki">
    <p style="        text-align: justify;
        font-family: Arial, serif;
        margin-bottom:0;
">
        Православно хришћанство у на подручју данашњег Мостара, као дијела Захумља, нарочито се развија у XИИ вијеку, за вријеме кнеза Десе и великог кнеза Мирослава. Мирослав је између 1166. и 1190. у Подграђу код Благаја подигао цркву Светог Козме и Дамјана. Натпис на каменој плочи, нађеној у Благају, потиче са цркве из времена Стефана Немање. Благај је, као један од центара Хумске земље имао посебну улогу и у црквеној дјелатности. Са формирањем аутокефалне српске Архиепископије 1219. године, од стране Светог Саве, и мостарски крај (Бишће, Броћно и Блато), као и остатак Хума, потпада под духовну јурисдикцију Хумске епископије са сједиштем у Стону. Вјерско опредјељење становништва у извјесној мјери одређивало се и према вјерском опредјељењу властеле на том подручју. Племство у источном Хуму: Николићи, Санковићи, Чихорићи.., било је православно. Православље се на овом подручју, уз друге конфесије, одржава и крајем средњег вијека. Бијелићи и Храбрени, подижу православне храмове. Прије османилијских освајања у самом Мостару битише извјесна хришћанска заједница. Различити историјски подаци свједоче о постојању веома малог храма, називаног „ћелија“, који се налазио на мјесту данашње Старе цркве – Храма Рођења Пресвете Богородице или у оближњој пећини, а чији настанак се везује за почетак XВ вијека. До нешто повољнијих историјских прилика, крајем XИX вијека, православни хришћани на овом подручју пролазе кроз веома тежак период османске владавине, да би на резмеђу XИX и XX вијека, упркос и даље отежавајућим политичким приликама, доживјели своје славно доба. Значајна културна баштина, настала у овом пероду, током XX вијека претрпила је велика оштећења, свједочећи и о страдању оних који су је створили, да би данас свједочила о њиховј обнови. Урбанистичка ћелина православне Епархије захумско-херцеговачке и приморске у Мостару смјештена је на лијевој обали Неретве, у Старом граду и изнад њега, на потезу између Старог моста и храма на Бјелушинама. На овој замишљеној линији налазе се неки од најзначајнијих објеката православне заједнице у Мостару: Стара црква, Саборни храм, школа и гробља на Пашиновцу и Бјелушинама, Владичански двор и стамбени комплекс Конак у Старом граду.
        </p>
</div>