@{
    ViewData["Title"] = "Историја Православног Хришћанства у Херцеговини";
    Layout = "BasicCir";
}
<head>
    <style>
        .neki {
            padding: 10px;
            background: #c2a073;
        }
    </style>
</head>
<div class="neki">
    <p style="        text-align: justify;
        font-family: Arial, serif;
        margin-bottom:0;
">
        Захумље, Хумска земља и Хум су називи под којима су се у одређеном периоду подразумијевали одређена територија и одређени државно-правни идентитет данашње Херцеговине. Током првих вјекова хришћанске ере ово подручје припадало је римској провинцији Далмацији, гдје је, већ у И вијеку, хришћанство проповиједао Тит, ученик Апостола Павла (2 Тим 4, 10), када је, према Симеону Метафрасту, кроз ове крајеве прошао и Апостол Андреј Првозвани. Након Тита, Апостол Павле у Далмацију шаље такође свог ученика Ермија, а и сам Павле проповиједа у овим крајевима (Рим 15, 19). Према свједочењу Епифанија Кипарског, у ово вријеме Далмацију је посјетио и Апостол и Еванђелист Лука. Током прве половине ВИИ вијека српска племена, као дио словенске етничке групе, населила су ову територију, која је у то вријеме улазила у састав Византијског царства и била насељена илирско-романским становништвом. У српске земље у Приморју хришћанство се проширило из приморских романских градова. Од ВИИ до ИX вијека посебан значај за христијанизацију словенског становништва и у овим крајевима имају Свети Кирило и Методије са својим ученицима. У првом наврату припадници српских племена примили су хришћанство за вријеме византијског цара Ираклија, а онда и у вријеме цара Василија И Македноца, између 868. и 872. године. Христијанизација се одвијала споро, а хришћанству су најприје приступали владалачки родови, подстичући на то и остало становништво. На почетку X вијека и владарски род Вишевића у Захумљу прихвата хришћанство. Са оснивањем аутокефалне српске цркве 1219. године, Свети Сава, први Архиепископсвих српских и приморских земаља, међу првима оснива и Епархију захумско-херцеговачку и приморску, тада као Епископију хумску, са сједиштем у Стону на острву Пељешац. Од XВ вијека, када се Стефан Вукчић Косача прозвао херцегом од Светог Саве, Хум се назива Херцеговином, а ова Епархија херцеговачком. Кроз осам вјекова дугу историју, од првог Хумског епископа Илариона, са сједиштем у Стону, на Епископској катедри ове Епархије столовало је око седамдесет епископа, а њено сједиште премјештало се шодно историјским околностима. Од 1999. године, Епископ захумско-херцеговачки и приморски јесте господин Григорије. Сједиште Епархије, које је због рата 1992. из Мостара премјештено у Требиње, 2011. године поново је враћено у Мостар.
        </p>
</div>