@{
    ViewData["Title"] = "Историја";
    Layout = "BasicCir";
}
<head>
    <style>
        .men a {
            color: #000;
            text-decoration: none;
            padding-bottom: 4px;
            font-family: Arial,serif;
            letter-spacing: 0px;
            text-align: center;
            display: inline;
        }

        .men {
            background: #c2a073;
            padding: 10px;
        }
    </style>
</head>
<span class="men">
    <b>
        <a href="/Home/IstorijaHercegovinaCir">ПРАВОСЛАВНО ХРИШЋАНСТВО У ХЕРЦЕГОВИНИ</a>
    </b>
</span>

<span class="men">
    <b>
        <a href="/Home/IstorijaMostarCir">ПРАВОСЛАВНО ХРИШЋАНСТВО У МОСТАРУ</a>
    </b>
</span>