@{
    ViewData["Title"] = "Istorija Pravoslavnog Hrišćanstva u Mostaru";
    Layout = "Basic";
}
<head>
    <style>
        .neki {
            padding: 10px;
            background: #73c2b9;
        }
    </style>
</head>
<div class="neki">
    <p style="        text-align: justify;
        font-family: Arial, serif;
        margin-bottom:0;
">
        Pravoslavno hrišćanstvo u na području današnjeg Mostara, kao dijela Zahumlja, naročito se razvija u XII vijeku, za vrijeme kneza Dese i velikog kneza Miroslava. Miroslav je između 1166. i 1190. u Podgrađu kod Blagaja podigao crkvu Svetog Kozme i Damjana. Natpis na kamenoj ploči, nađenoj u Blagaju, potiče sa crkve iz vremena Stefana Nemanje. Blagaj je, kao jedan od centara Humske zemlje imao posebnu ulogu i u crkvenoj djelatnosti. Sa formiranjem autokefalne srpske Arhiepiskopije 1219. godine, od strane Svetog Save, i mostarski kraj (Bišće, Broćno i Blato), kao i ostatak Huma, potpada pod duhovnu jurisdikciju Humske episkopije sa sjedištem u Stonu. Vjersko opredjeljenje stanovništva u izvjesnoj mjeri određivalo se i prema vjerskom opredjeljenju vlastele na tom području. Plemstvo u istočnom Humu: Nikolići, Sankovići, Čihorići.., bilo je pravoslavno. Pravoslavlje se na ovom području, uz druge konfesije, održava i krajem srednjeg vijeka. Bijelići i Hrabreni, podižu pravoslavne hramove. Prije osmanilijskih osvajanja u samom Mostaru bitiše izvjesna hrišćanska zajednica. Različiti istorijski podaci svjedoče o postojanju veoma malog hrama, nazivanog „ćelija“, koji se nalazio na mjestu današnje Stare crkve – Hrama Rođenja Presvete Bogorodice ili u obližnjoj pećini, a čiji nastanak se vezuje za početak XV vijeka. Do nešto povoljnijih istorijskih prilika, krajem XIX vijeka, pravoslavni hrišćani na ovom području prolaze kroz veoma težak period osmanske vladavine, da bi na rezmeđu XIX i XX vijeka, uprkos i dalje otežavajućim političkim prilikama, doživjeli svoje slavno doba. Značajna kulturna baština, nastala u ovom perodu, tokom XX vijeka pretrpila je velika oštećenja, svjedočeći i o stradanju onih koji su je stvorili, da bi danas svjedočila o njihovj obnovi. Urbanistička cjelina pravoslavne Eparhije zahumsko-hercegovačke i primorske u Mostaru smještena je na lijevoj obali Neretve, u Starom gradu i iznad njega, na potezu između Starog mosta i hrama na Bjelušinama. Na ovoj zamišljenoj liniji nalaze se neki od najznačajnijih objekata pravoslavne zajednice u Mostaru: Stara crkva, Saborni hram, škola i groblja na Pašinovcu i Bjelušinama, Vladičanski dvor i stambeni kompleks Konak u Starom gradu.
    </p>
</div>