@{
    ViewData["Title"] = "Istorija Pravoslavnog Hrišćanstva u Hercegovini";
    Layout = "Basic";
}
<head>
    <style>
        .neki {
            padding: 10px;
            background: #73c2b9;
        }
    </style>
</head>
<div class="neki">
    <p style="        text-align: justify;
        font-family: Arial, serif;
        margin-bottom:0;
">
        Zahumlje, Humska zemlja i Hum su nazivi pod kojima su se u određenom periodu podrazumijevali određena teritorija i određeni državno-pravni identitet današnje Hercegovine. Tokom prvih vjekova hrišćanske ere ovo područje pripadalo je rimskoj provinciji Dalmaciji, gdje je, već u I vijeku, hrišćanstvo propovijedao Tit, učenik Apostola Pavla (2 Tim 4, 10), kada je, prema Simeonu Metafrastu, kroz ove krajeve prošao i Apostol Andrej Prvozvani. Nakon Tita, Apostol Pavle u Dalmaciju šalje takođe svog učenika Ermija, a i sam Pavle propovijeda u ovim krajevima (Rim 15, 19). Prema svjedočenju Epifanija Kiparskog, u ovo vrijeme Dalmaciju je posjetio i Apostol i Evanđelist Luka. Tokom prve polovine VII vijeka srpska plemena, kao dio slovenske etničke grupe, naselila su ovu teritoriju, koja je u to vrijeme ulazila u sastav Vizantijskog carstva i bila naseljena ilirsko-romanskim stanovništvom. U srpske zemlje u Primorju hrišćanstvo se proširilo iz primorskih romanskih gradova. Od VII do IX vijeka poseban značaj za hristijanizaciju slovenskog stanovništva i u ovim krajevima imaju Sveti Kirilo i Metodije sa svojim učenicima. U prvom navratu pripadnici srpskih plemena primili su hrišćanstvo za vrijeme vizantijskog cara Iraklija, a onda i u vrijeme cara Vasilija I Makednoca, između 868. i 872. godine. Hristijanizacija se odvijala sporo, a hrišćanstvu su najprije pristupali vladalački rodovi, podstičući na to i ostalo stanovništvo. Na početku X vijeka i vladarski rod Viševića u Zahumlju prihvata hrišćanstvo. Sa osnivanjem autokefalne srpske crkve 1219. godine, Sveti Sava, prvi Arhiepiskopsvih srpskih i primorskih zemalja, među prvima osniva i Eparhiju zahumsko-hercegovačku i primorsku, tada kao Episkopiju humsku, sa sjedištem u Stonu na ostrvu Pelješac. Od XV vijeka, kada se Stefan Vukčić Kosača prozvao hercegom od Svetog Save, Hum se naziva Hercegovinom, a ova Eparhija hercegovačkom. Kroz osam vjekova dugu istoriju, od prvog Humskog episkopa Ilariona, sa sjedištem u Stonu, na Episkopskoj katedri ove Eparhije stolovalo je oko sedamdeset episkopa, a njeno sjedište premještalo se shodno istorijskim okolnostima. Od 1999. godine, Episkop zahumsko-hercegovački i primorski jeste gospodin Grigorije. Sjedište Eparhije, koje je zbog rata 1992. iz Mostara premješteno u Trebinje, 2011. godine ponovo je vraćeno u Mostar.
    </p>
</div>