
@{ ViewData["Title"] = "Kontakti";
    Layout = "Kontakt";
}
<head>
    <style>
        #neki p {
            font-family: Arial, serif;
            color: #000;
            text-decoration: none;
            padding-bottom: 4px;
            font-family: Arial,serif;
            letter-spacing: 0px;
        }
        #neki {
            border: none;
            background:#c2a073;
            padding:10px;
        }
        
    </style>
</head>
<div id="neki">
    <p>
        <b>Kancelarija SPCO Mostar:</b>
    </p>
    <p>
        <b>Poštanska adresa:</b>
        "&nbsp;Konak 7, 88000 Mostar, BiH"
    </p>
    <p>
        <b>E-Mail:</b>
        "&nbsp;spcmostar@gmail.com"
    </p>
    <p>
        <b>Broj telefona:</b>
        "&nbsp;00387(0)36/554-121"
    </p>
    <p>
        <b>Broj faksa:</b>
        "&nbsp;00387(0)36/554-120"
    </p>
    <br />
    <p>
        <b>Manastir Žitomislić:</b>
    </p>
    <p>
        <b>Poštanska adresa:</b>
        "&nbsp;Žitomislić (bez broja), 88000 Mostar, BiH"
    </p>
    <p>
        <b>E-Mail</b>
        "&nbsp;manastir.zitomislic@tel.ba"
    </p>
    <p>
        <b>Broj telefona:</b>
        "&nbsp;00387(0)36/654-310"
    </p>
    <p>
        <b>Broj faksa:</b>
        "&nbsp;00387(0)36/654-310"
    </p>
    <br />
    <p>
        <b>Radivoje Krulj, protoprezviter stavrofor</b>
    </p>
    <p>
        <b>E-Mail:</b>
        "&nbsp;r_krulj@hotmail.com"
    </p>
    <p>
        <b>Broj telefona:</b>
        "&nbsp;00387(0)36/334 115 i 00387(0)65/799-055"
    </p>
    <p>
        <b>Broj faksa:</b>
        "&nbsp;00387(0)36/334-116"
    </p>
    <br />
    <p>
        <b>Nebojša Radić, prezviter</b>
    </p>
    <p>
        <b>E-Mail:</b>
        "&nbsp;radic.neo84@gmail.com"
    </p>
    <p>
        <b>Broj telefona:</b>
        "&nbsp;00387(0)36/554-121 i 00387(0)66/468-362"
    </p>
    <p>
        <b>Broj faksa:</b>
        "&nbsp;00387(0)36/554-120"
    </p>
    <br />
    <p>
        <b>Branimir Borovčanin, prezviter</b>
    </p>
    <p>
        <b>E-Mail:</b>
        "&nbsp;brabor1984@gmail.com"
    </p>
    <p>
        <b>Broj telefona:</b>
        "&nbsp;00387(0)36/554-121 i 00387(0)66/510-938"
    </p>
    <p>
        <b>Broj faksa:</b>
        "&nbsp;00387(0)36/554-120"
    </p>
    <br />
    <p>
        <b>Marko Gojačić, prezviter</b>
    </p>
    <p>
        <b>E-Mail:</b>
        "&nbsp;dobrotvormostar@gmail.com"
    </p>
    <p>
        <b>Broj telefona:</b>
        "&nbsp;00387(0)36/554-121 i 00387(0)66/809-066"
    </p>
    <p>
        <b>Broj faksa:</b>
        "&nbsp;00387(0)36/554-120"
    </p>
    <br />
    <p>
        <b>Branislav Rajković, đakon</b>
    </p>
    <p>
        <b>E-Mail:</b>
        "&nbsp;branislavrajkovic@gmail.com"
    </p>
    <p>
        <b>Broj telefona:</b>
        "&nbsp;00387(0)36/552-585 i 00387(0)66/462-112"
    </p>
</div>