
@{ ViewData["Title"] = "Контакти";
    Layout = "BasicCir";
}
<head>
    <style>
        #neki p {
            font-family: Arial, serif;
            color: #000;
            text-decoration: none;
            padding-bottom: 4px;
            font-family: Arial,serif;
            letter-spacing: 0px;
        }

        #neki {
            border: none;
            background: #c2a073;
            padding: 10px;
        }
    </style>
</head>
<div id="neki">
    <p>
        <b>Канцеларија СПЦО Мостар:</b>
    </p>
    <p>
        <b>Поштанска адреса:</b>
        "&nbsp;Конак 7, 88000 Мостар, БиХ"
    </p>
    <p>
        <b>Е-Маил:</b>
        "&nbsp;спцмостар@гмаил.цом"
    </p>
    <p>
        <b>Број телефона:</b>
        "&nbsp;00387(0)36/554-121"
    </p>
    <p>
        <b>Број факса:</b>
        "&nbsp;00387(0)36/554-120"
    </p>
    <br />
    <p>
        <b>Манастир Житомислић:</b>
    </p>
    <p>
        <b>Поштанска адреса:</b>
        "&nbsp;Житомислић (без броја), 88000 Мостар, БиХ"
    </p>
    <p>
        <b>Е-Маил:</b>
        "&nbsp;манастир.зитомислиц@тел.ба"
    </p>
    <p>
        <b>Број телефона:</b>
        "&nbsp;00387(0)36/654-310"
    </p>
    <p>
        <b>Број факса:</b>
        "&nbsp;00387(0)36/654-310"
    </p>
    <br />
    <p>
        <b>Радивоје Круљ, протопрезвитер ставрофор</b>
    </p>
    <p>
        <b>Е-Маил:</b>
        "&nbsp;р_круљ@хотмаил.цом"
    </p>
    <p>
        <b>Број телефона:</b>
        "&nbsp;00387(0)36/334 115 и 00387(0)65/799-055"
    </p>
    <p>
        <b>Број факса:</b>
        "&nbsp;00387(0)36/334-116"
    </p>
    <br />
    <p>
        <b>Небојша Радић, презвитер</b>
    </p>
    <p>
        <b>Е-Маил:</b>
        "&nbsp;радиц.нео84@гмаил.цом"
    </p>
    <p>
        <b>Број телефона:</b>
        "&nbsp;00387(0)36/554-121 и 00387(0)66/468-362"
    </p>
    <p>
        <b>Број факса:</b>
        "&nbsp;00387(0)36/554-120"
    </p>
    <br />
    <p>
        <b>Бранимир Боровчанин, презвитер</b>
    </p>
    <p>
        <b>Е-Маил:</b>
        "&nbsp;брабор1984@гмаил.цом"
    </p>
    <p>
        <b>Број телефона:</b>
        "&nbsp;00387(0)36/554-121 и 00387(0)66/510-938"
    </p>
    <p>
        <b>Број факса:</b>
        "&nbsp;00387(0)36/554-120"
    </p>
    <br />
    <p>
        <b>Марко Гојачић, презвитер</b>
    </p>
    <p>
        <b>Е-Маил:</b>
        "&nbsp;добротвормостар@гмаил.цом"
    </p>
    <p>
        <b>Број телефона:</b>
        "&nbsp;00387(0)36/554-121 и 00387(0)66/809-066"
    </p>
    <p>
        <b>Број факса:</b>
        "&nbsp;00387(0)36/554-120"
    </p>
    <br />
    <p>
        <b>Бранислав Рајковић, ђакон</b>
    </p>
    <p>
        <b>Е-Маил:</b>
        "&nbsp;браниславрајковиц@гмаил.цом"
    </p>
    <p>
        <b>Број телефона:</b>
        "&nbsp;00387(0)36/552-585 и 00387(0)66/462-112"
    </p>
</div>