@{
    ViewData["Title"] = "Корисни линкови";
    Layout = "BasicCir";
}
<head>
    <style>
        .neki {
            padding: 10px;
            background: #c2a073;
        }

            .neki p {
                font-family: Arial, serif;
            }
    </style>
</head>

<div class="neki">
    <a href="https://eparhija-zahumskohercegovacka.com/" target="_blank">
        <img src="http://saborna-crkva-mostar.com/novav/wp-content/gallery/banneri/zahumlje.jpg" />
    </a>
    <br />
    <br />
    <a href="https://www.tvrdos.com/" target="_blank">
        <img src="http://saborna-crkva-mostar.com/novav/wp-content/uploads/2013/10/tvrdos.png" />
    </a>
    <br />
</div>