@{
    ViewData["Title"] = "Manastir Žitomislić";
    Layout = "Basic";
}
<head>
    <style>
        .neki {
            padding: 10px;
            background: #73c2b9;
        }
    </style>
</head>
<div class="neki">
    <p style="text-align:justify;">
        Manastir Žitomislić je pravoslavni manastir smješten u selu Žitomislići, dvadesetak kilometara južno od Mostara. Posvećen je Blagovještenju Presvete Bogorodice, a potiče iz XV vijeka. Godine 1563. obnavljaju ga braća Miloradović – Hrabren, pripadnici stare srpske plemićke porodice. Kao svoju zadužbinu, Miloradovići pomažu manastir i iz Rusije, donoseći u njega darove i ruskog cara Petra Velikog. Manastirska je ubrzo opremljen krstionicom, prestonim ikonama i bogatim ikonostasom u pozlaćenom duborezu.
    </p>
    <p style="text-align:justify;">
        Manastirska crkva spolja je jednobrodna građevina, koja u unutrašnjiosti krije trobrodni plan. Visoki zvonik na zapadnoj strani hrama dozidan je krajem XIX vijeka. Poput pojedinih crkava iz istog perioda, crkva Manastira Žitomislića ima zidani ikonostas. Pored hrama, u manastirskom kompleksu nalaze se konaci sa trpezarijom i manastirsko groblje.
    </p>
    <p style="text-align:justify;">
        Monasi manastira Žitomislića u XVII vijeku značajne su ličnosti, stižu do Svete Gore i postaju Hilandarski igumani, a njegovi pisari prepisali su i ukrasili mnoštvo važnih crkvenih knjiga. U Žitomisliću su se školovali mnogi značajni Srbi, i to ne samo iz Hercegovine. U XVIII i XIX pa i u XX vijeku, iz njenog bratstva proizašli su brojni narodni duhovnici i arhipastiri ove i drugih eparhija Srpske pravoslavne Crkve. Godine 1858. ovdje je otvorena Pripravna duhovna škola, prva te vrste u Bosni i Hercegovini.
    </p>
    <p style="text-align:justify;">
        Kroz svoju petovijekovnu istoriju Manastir Žitomislić, njegovo monaštvo i građevine stradali su u više navrata. Dana 26. juna 1941. godine stradalo je cijelo bratstvo manastira. Njih osam monaha baceni su u Vidonjsku jamu na desnoj obali Neretve. Sve manastirske zgrade su opljačkane i zapaljene, a manastir je opustio. Iz Vidonjske jame 1990. godine izvađeni su mošti Žitomislićkih novomučenika da bi 1991. godine bile sahranjene uz oltar crkve. Međutim, u ratu 1992. godine, monahinje sa igumanijiom su izbjegle iz manastira, sam manastir je potpuno razoren, a grobnica sa moštima mučenika, prethodno izvađenih iz Vidonjske jame, minirana je velikom količinom ekspoloziva. Prikupljeni ostaci njihovih moštiju danas se nalaze u potpuno obnovljenoj manastirskoj crkvi, o kojoj se stara iguman manastira, visokoprepodobni arhimandrit Danilo, sa svojim bratstvom.
    </p>
</div>