@{
    ViewData["Title"] = "Манастир Житомислић";
    Layout = "BasicCir";
}
<head>
    <style>
        .neki {
            padding: 10px;
            background: #c2a073;
        }
    </style>
</head>
<div class="neki">
    <p style="text-align:justify;">
        Манастир Житомислић је православни манастир смјештен у селу Житомислићи, двадесетак километара јужно од Мостара. Посвећен је Благовјештењу Пресвете Богородице, а потиче из XВ вијека. Године 1563. обнављају га браћа Милорадовић – Храбрен, припадници старе српске племићке породице. Као своју задужбину, Милорадовићи помажу манастир и из Русије, доносећи у њега дарове и руског цара Петра Великог. Манастирска је убрзо опремљен крстионицом, престоним иконама и богатим иконостасом у позлаћеном дуборезу.
        </p>
    <p style="text-align:justify;">
        Манастирска црква споља је једнобродна грађевина, која у унутрашњиости крије тробродни план. Високи звоник на западној страни храма дозидан је крајем XИX вијека. Попут појединих цркава из истог периода, црква Манастира Житомислића има зидани иконостас. Поред храма, у манастирском комплексу налазе се конаци са трпезаријом и манастирско гробље.
        </p>
    <p style="text-align:justify;">
        Монаси манастира Житомислића у XВИИ вијеку значајне су личности, стижу до Свете Горе и постају Хиландарски игумани, а његови писари преписали су и украсили мноштво важних црквених књига. У Житомислићу су се школовали многи значајни Срби, и то не само из Херцеговине. У XВИИИ и XИX па и у XX вијеку, из њеног братства произашли су бројни народни духовници и архипастири ове и других епархија Српске православне Цркве. Године 1858. овдје је отворена Приправна духовна школа, прва те врсте у Босни и Херцеговини.
        </p>
    <p style="text-align:justify;">
        Кроз своју петовијековну историју Манастир Житомислић, његово монаштво и грађевине страдали су у више наврата. Дана 26. јуна 1941. године страдало је цијело братство манастира. Њих осам монаха бацени су у Видоњску јаму на десној обали Неретве. Све манастирске зграде су опљачкане и запаљене, а манастир је опустио. Из Видоњске јаме 1990. године извађени су мошти Житомислићких новомученика да би 1991. године биле сахрањене уз олтар цркве. Међутим, у рату 1992. године, монахиње са игуманијиом су избјегле из манастира, сам манастир је потпуно разорен, а гробница са моштима мученика, претходно извађених из Видоњске јаме, минирана је великом количином експолозива. Прикупљени остаци њихових моштију данас се налазе у потпуно обновљеној манастирској цркви, о којој се стара игуман манастира, високопреподобни архимандрит Данило, са својим братством.
        </p>
</div>