

@{
    ViewData["Title"] = "Парохија Друга Мостарска";
    Layout = "BasicCir";
}
<head>
    <style>
        .prvaslika {
            padding: 1px;
            margin: 0 15px 5px 0;
            display: inline;
            border: solid 0px black;
            float: left;
            max-width: 100%;
        }

        .neki p a:visited {
            text-decoration: none;
            color: #fff;
            border: 0px;
        }

        .neki p a {
            margin: 0;
            padding: 0;
        }

        .neki p {
            padding: 5px 0px;
            font-family: Arial, serif;
        }

        .neki {
            text-align: center;
            padding: 10px;
            background: #c2a073;
        }

        @@media (max-width:280px) {
            .prvaslika {
                float: none;
            }
        }
    </style>
</head>

<div class="neki">
    <p style="text-align: justify;">
        Парохија друга мостарска са средиштем у Благају, у највећој мјери обухвата јужне дијелове подручја Града Мостара, као и јужна урбана мостарска насеља. Много након славних времена средњег вијека, када Благај бива престоница ћелокупног овог подручја, залагањем јеромонаха Христифора (Милутиновића) из Манастира Житомислића, Благај, макар у црквено-административном смислу опет добија на значају. Године 1893. на Празник Успења Пресвете Богородице, новоизграђени Храм Светог Василија Тврдошког и Острошког, освештао је Митрополит дабробосански Серафим (Перовић). Поред храма, православни хришћани овог мјеста, саградили су и Светосавски дом,  парохијски дом и стан за учитеља. За вријеме комунистичког друштвеног уређења, 1959. године, Светосавски дом у Благају је национализован и претворен у Дом културе, да би данас у њему био смјештен општински канцеларија. Четири године након изградње мјесног храма, 1897. године, основана је и Парохија благајска, која је поред самог Благаја обухватала и Косор, Мало Поље, Губавицу, Ходбину, Лакшевине, Ортијеш, Гнојнице, Драчевице, Жуберин, Рабину и Јасену. Новијом црквено-административном организацијом, 1909. године, Жуберин, Рабина и Јасена припали су Црквеној општини невесињској, а губавица Парохији Манастира Житомислића. У грађанском рату, деведесетих година прошлог вијека, скоро ћелокупно православно становништво овог подручја је протјерано или пострадало. Храм Светог Василија Тврдошког и Острошког у Благају гранатиран је и запаљен, као и оближњи парохијски дом, са вриједном збирком икона. Ипак, у складу са обновом литургијског живота обнављају се и уништена здања. Интензивнији повратак протјераног становништа збио се 1998. године.
        </p>
    <p style="text-align:justify;">
        <a href="http://saborna-crkva-mostar.com/wp-content/uploads/2013/04/branimir.jpg?lang=lat" target="_blank"><img class="prvaslika" src="http://saborna-crkva-mostar.com/wp-content/uploads/2013/04/branimir-227x300.jpg?lang=lat" alt="branimir" width="124" height="163" /></a>
        Парох Парохије друге мостарске, презвитер Бранимир Боровчанин рођен је 1. септембра 1984. године у Сокоцу. Основну школу завршио је 1999. године у Сокоцу, а Богословију „Светог Петра Дабробосанског“ у Србињу, 2003. године. У чин чтеца рукопроизведен је 2000. године руком Митрополита дабробосанског Господина Николаја. У чин ђакона рукоположен је на Божанственој Литургији, 2. јануара 2010. године у Дубровнику, руком Епископа захумско-херцеговачког и приморског Господина Григорија. У чин свештеника рукоположен је на Божанственој Литургији 7. априла 2010. године, у Манастиру Житомислићу, такође од стране Епископа захумско-херцеговачког и приморског Господина Григорија, од када је постављен на парохију чапљинску. Ожењен је Бојаном Боровчанин, рођеном Симић, и имају сина Уроша.
        </p>

</div>