

@{
    ViewData["Title"] = "Парохија Трећа Мостарска";
    Layout = "BasicCir";
}
<head>
    <style>
        .prvaslika {
            padding: 1px;
            margin: 0 15px 5px 0;
            display: inline;
            border: solid 0px black;
            float: left;
            max-width: 100%;
        }

        .neki p a:visited {
            text-decoration: none;
            color: #fff;
            border: 0px;
        }

        .neki p a {
            margin: 0;
            padding: 0;
        }

        .neki p {
            padding: 5px 0px;
            font-family: Arial, serif;
        }

        .neki {
            text-align: center;
            padding: 10px;
            background: #c2a073;
        }

        @@media (max-width:280px) {
            .prvaslika {
                float: none;
            }
        }
    </style>
</head>

<div class="neki">
    <p style="text-align: justify;">
        Парохија трећа мостарска, са средиштем у Бијелом Пољу, највећим дијелом обухвата подручје некадашње Црквене општине бјелопољске и брдске, уз сјеверне урбане зоне самог града Мостара. Поред насељених мјеста дуж ћелоупног Бијелог Поља, ова парохија обухвата и села на сјеверном и западном подручја Града Мостара. Православни хришћани ових крајева, након прогонства и страдања у грађанском рату деведесетих година прошлог вијека, враћајући се постепено онбављају и свој богослужбени живот, са средиштем у Храму Вазнесења Господњег на Бољани, гдје је уз овај храм обновљен и парохијски дом.
        </p>
    <p style="text-align:justify;">
        <a href="http://saborna-crkva-mostar.com/wp-content/uploads/2013/04/nebojsa.jpg?lang=lat" target="_blank"><img class="prvaslika" src="http://saborna-crkva-mostar.com/wp-content/uploads/2013/04/nebojsa-225x300.jpg?lang=lat" alt="nebojsa" width="124" height="163" /></a>
        Парох Парохије треће мостарске, презвитер Небојша Радић, рођен је 21.марта 1984. године у Невесињу. Средњу богословску школу завршио је у Србињу, данашњој Фочи. Тренутно је апсолвент на Православном богословском факултету Универзитета у Београду. У чин ђакона Епископ захумско-херецговачки и приморски Господин Григорије рукоположио га је на Празник Светог Великомученика Димитрија у Невесињу 2006. године. Од тада је био ђакон у Гацку, све до Савиндана 2008. године, када је у Билећи рукоположен у чин презвитера  и  постављен за пароха дабарско–столачке парохије. Ожењен је  Вањом Радић, рођеном Илић. Имају троје дјеце: Ефросинију, Стефана и Таису.
        </p>
</div>