

@{
    ViewData["Title"] = "Parohija Treća Mostarska";
    Layout = "Basic";
}
<head>
    <style>
        .prvaslika {
            padding: 1px;
            margin: 0 15px 5px 0;
            display: inline;
            border: solid 0px black;
            float: left;
            max-width: 100%;
        }

        .neki p a:visited {
            text-decoration: none;
            color: #fff;
            border: 0px;
        }

        .neki p a {
            margin: 0;
            padding: 0;
        }

        .neki p {
            padding: 5px 0px;
            font-family: Arial, serif;
        }

        .neki {
            text-align: center;
            padding: 10px;
            background: #c2a073;
        }
        @@media (max-width:280px) {
            .prvaslika {
                float: none;
            }
        }
    </style>
</head>

<div class="neki">
    <p style="text-align: justify;">
        Parohija treća mostarska, sa središtem u Bijelom Polju, najvećim dijelom obuhvata područje nekadašnje Crkvene opštine bjelopoljske i brdske, uz sjeverne urbane zone samog grada Mostara. Pored naseljenih mjesta duž cjeloupnog Bijelog Polja, ova parohija obuhvata i sela na sjevernom i zapadnom područja Grada Mostara. Pravoslavni hrišćani ovih krajeva, nakon progonstva i stradanja u građanskom ratu devedesetih godina prošlog vijeka, vraćajući se postepeno onbavljaju i svoj bogoslužbeni život, sa središtem u Hramu Vaznesenja Gospodnjeg na Boljani, gdje je uz ovaj hram obnovljen i parohijski dom.
        </p>
    <p style="text-align:justify;">
        <a href="http://saborna-crkva-mostar.com/wp-content/uploads/2013/04/nebojsa.jpg?lang=lat" target="_blank"><img class="prvaslika" src="http://saborna-crkva-mostar.com/wp-content/uploads/2013/04/nebojsa-225x300.jpg?lang=lat" alt="nebojsa" width="124" height="163" /></a>
        Paroh Parohije treće mostarske, prezviter Nebojša Radić, rođen je 21.marta 1984. godine u Nevesinju. Srednju bogoslovsku školu završio je u Srbinju, današnjoj Foči. Trenutno je apsolvent na Pravoslavnom bogoslovskom fakultetu Univerziteta u Beogradu. U čin đakona Episkop zahumsko-herecgovački i primorski Gospodin Grigorije rukopoložio ga je na Praznik Svetog Velikomučenika Dimitrija u Nevesinju 2006. godine. Od tada je bio đakon u Gacku, sve do Savindana 2008. godine, kada je u Bileći rukopoložen u čin prezvitera  i  postavljen za paroha dabarsko–stolačke parohije. Oženjen je  Vanjom Radić, rođenom Ilić. Imaju troje djece: Efrosiniju, Stefana i Taisu.
        </p>

</div>