
@{ 
    ViewData["Title"] = "Parohija Prva Mostarska";
    Layout = "Basic";
}
<head>
    <style>
        .prvaslika{
            padding:1px;
            margin:0 15px 5px 0;
            display:inline;
            border:solid 0px black;
            float:left;
            max-width:100%;
        }
        .neki p a:visited{
            text-decoration:none;
            color:#fff;
            border:0px;
        }
        .neki p a{
            margin:0;
            padding:0;
        }
        .neki p {
            padding: 5px 0px;
            font-family: Arial, serif;
        }
        .neki {
            text-align: center;
            padding: 10px;
            background: #73c2b9;
        }
        @@media (max-width:280px) {
            .prvaslika {
                float: none;
            }
        }
    </style>
</head>

<div class="neki">
    <p style="text-align: justify;">
        Parohija prva mostarska sastoji se od dijela teritorije nekadašnje Srpske pravoslavne crkvene opštine mostarske i cjelokupne teritorije nekadašnje Srpske pravoslavne crkvena opština duvanjske. Na području Grada Mostara zahvata centralno područje urbanog dijela grada. Pravoslavni hrišćani sa ovog prostora za vrijeme građanskog rata devedesetih godina uglavnom su izbjegli na teritoriju Republike Srpske, Srbije ili u druge zemlje širom svijeta, sa izvjesnom tendencijom za povratak. Središnji hram ove parohije privremeno je Hram Rođenja Presvete Bogorodice – Stara crkva u Mostaru, do obnove Sabornog hrama Svete Trojice, koja je u toku. Prva mostarska parohija podijeljena je na sjeverni i južni dio.
    </p>
    <p style="text-align:justify;">
        <a href="http://saborna-crkva-mostar.com/wp-content/uploads/2013/04/krulj.jpg?lang=lat" target="_blank"><img class="prvaslika" src="http://saborna-crkva-mostar.com/wp-content/uploads/2013/04/krulj-227x300.jpg?lang=lat" alt="krulj" width="124" height="163" /></a>
        Paroh Parohije prve mostarske – sjever, protoprezviter stavrofor Radivoje Krulj, rođen je 14. oktobra 1976. godine u Ljubinju, od oca Milenka i majke Senke, rođene Vujović. Rukopoložen je u čin đakona 9. avgusta 1999. godine, na dan Svetog Velikomučenika Pantelejmona u manastiru Duži, od Episkopa Zahumsko-hercegovačkog i primorskog Gospodina Atanasija, a u čin prezvitera 19. avgusta 1999. godine, na dan Preobraženja Gospodnjeg u trebinjskoj Sabornoj crkvi od Episkopa Humskog, vikara Zahumsko-herecegovačkog i primorskog, Gospodina Grigorija. Osnovnu školu završio u Ljubinju 1991. godine, a gimnaziju u Bileći 1995. godine. Diplomirao je na Pravoslavno-bogoslovskom fakultetu Svetog Vasilija Ostroškog u Foči. Oženjen Natašom, rođenom Jungić. Ima šestoro djece: Anu, Luku, Jelisavetu, Aleksu, Atanasija i Davida. Dosadašnje parohije: Korjenićko-ljubomirska 1999-2000.godine, Stolačko-čapljinska i Mostarsko-konjička 1999-2001. godine, Nevesinjska treća 2000-2007. godine.
    </p>
    <p style="text-align:justify;">
        <a href="http://saborna-crkva-mostar.com/wp-content/uploads/2013/04/paroh.jpg?lang=lat" target="_blank"><img class="prvaslika" src="http://saborna-crkva-mostar.com/wp-content/uploads/2013/04/paroh-226x300.jpg?lang=lat" alt="paroh" width="127" height="169" /></a>
        Paroh Parohije prve mostarske – jug, prezviter Marko Gojačić, rođen je 7. oktobra 1985. godine u Beloj Crkvi, od oca Gorana i majke Ljiljane, rođene Sarić. Kanonski otpust iz Eparhije banatske i prijem u Eparhiju Zahumsko-hercegovačku i primorsku dobija 2011. godine, blagoslovom episkopa Zahumsko-hercegobačskog i primorskog Gospodina Grigorija. Rukopoložen je u čin đakona 27. novembra 2011. godine, na dan Svetog Aapostola Filipa, u Hramu Rođenja Presvete Bogorodice u Mostaru, od Episkopa Zahumsko-hercegovačkog i primorskog Gospodina Grigorija, a u čin prezvitera rukopoložen na dan Svetog Ignjatija Bogonosca, 2. januara 2013. godine, takođe od episkopa Grigorija. Osnovnu školu i gimnaziju završio u Beloj Crkvi i diplomirao na Pravoslavnom bogoslovskom fakultetu u Beogradu 2011. godine. Oženjen je Zoricom Gojačić, rođenom Kovač.
    </p>
    <p style="text-align:justify;">
        <a href="http://saborna-crkva-mostar.com/wp-content/uploads/2013/04/branislav.jpg?lang=lat" target="_blank"><img class="prvaslika" src="http://saborna-crkva-mostar.com/wp-content/uploads/2013/04/branislav-226x300.jpg" alt="brainslav" width="127" height="169" /></a>
        Đakon mostarski Branislav Rajković rođen je na Praznik Svetog Apostola Tome, 19. oktobra 1982. godine u Mostaru, od oca Slavka i majke Jovanke Rajković, rođene Ivanišević. Osnovnu školu upisao je u Mostaru, a završio u Bačkoj Topoli, gdje je pohađao i Srednju poljoprivrednu školu. Diplomirao je na Višoj poslovnoj školi Univerziteta u Novom Sadu, a apsolvent je na Pravoslavnom bogoslovskom fakultetu Univerziteta u Beogradu. Po povratku u Mostar 2012. godine, o Prazniku Pokrova Presvete Bogorodice, od strane Episkopa zahumsko-hercegovačkog i primorskog Gospodina Grigorija, Svetom tajnom braka vjenčan je sa Tamarom Rajković, rođenom Jojić. U čin ipođakona Episkop zahumsko-hercegovački i primorski Gospodin Grigorije rukopoložio ga je na dan Svetog Velikomučenika Dimitrija, 2012. godine u Hramu Vaznesenja Gospodnjeg u Nevesinju, a za đakona, iste godine o Prazniku Vavedenja Presvete Bogorodice u manastiru Zavala. Od aprila 2013. godine predsjednik je Srpskog prosvjetnog i kulturnog društva „Prosvjeta“ – Gradski odbor Mostar.
        </p>
</div>