

@{
    ViewData["Title"] = "Parohija Druga Mostarska";
    Layout = "Basic";
}
<head>
    <style>
        .prvaslika {
            padding: 1px;
            margin: 0 15px 5px 0;
            display: inline;
            border: solid 0px black;
            float: left;
            max-width: 100%;
        }

        .neki p a:visited {
            text-decoration: none;
            color: #fff;
            border: 0px;
        }

        .neki p a {
            margin: 0;
            padding: 0;
        }

        .neki p {
            padding: 5px 0px;
            font-family: Arial, serif;
        }

        .neki {
            text-align: center;
            padding: 10px;
            background: #c2a073;
        }
        @@media (max-width:280px) {
            .prvaslika {
                float: none;
            }
        }
    </style>
</head>

<div class="neki">
    <p style="text-align: justify;">
        Parohija druga mostarska sa središtem u Blagaju, u najvećoj mjeri obuhvata južne dijelove područja Grada Mostara, kao i južna urbana mostarska naselja. Mnogo nakon slavnih vremena srednjeg vijeka, kada Blagaj biva prestonica cjelokupnog ovog područja, zalaganjem jeromonaha Hristifora (Milutinovića) iz Manastira Žitomislića, Blagaj, makar u crkveno-administrativnom smislu opet dobija na značaju. Godine 1893. na Praznik Uspenja Presvete Bogorodice, novoizgrađeni Hram Svetog Vasilija Tvrdoškog i Ostroškog, osveštao je Mitropolit dabrobosanski Serafim (Perović). Pored hrama, pravoslavni hrišćani ovog mjesta, sagradili su i Svetosavski dom,  parohijski dom i stan za učitelja. Za vrijeme komunističkog društvenog uređenja, 1959. godine, Svetosavski dom u Blagaju je nacionalizovan i pretvoren u Dom kulture, da bi danas u njemu bio smješten opštinski kancelarija. Četiri godine nakon izgradnje mjesnog hrama, 1897. godine, osnovana je i Parohija blagajska, koja je pored samog Blagaja obuhvatala i Kosor, Malo Polje, Gubavicu, Hodbinu, Lakševine, Ortiješ, Gnojnice, Dračevice, Žuberin, Rabinu i Jasenu. Novijom crkveno-administrativnom organizacijom, 1909. godine, Žuberin, Rabina i Jasena pripali su Crkvenoj opštini nevesinjskoj, a gubavica Parohiji Manastira Žitomislića. U građanskom ratu, devedesetih godina prošlog vijeka, skoro cjelokupno pravoslavno stanovništvo ovog područja je protjerano ili postradalo. Hram Svetog Vasilija Tvrdoškog i Ostroškog u Blagaju granatiran je i zapaljen, kao i obližnji parohijski dom, sa vrijednom zbirkom ikona. Ipak, u skladu sa obnovom liturgijskog života obnavljaju se i uništena zdanja. Intenzivniji povratak protjeranog stanovništa zbio se 1998. godine.
        </p>
    <p style="text-align:justify;">
        <a href="http://saborna-crkva-mostar.com/wp-content/uploads/2013/04/branimir.jpg?lang=lat" target="_blank"><img class="prvaslika" src="http://saborna-crkva-mostar.com/wp-content/uploads/2013/04/branimir-227x300.jpg?lang=lat" alt="branimir" width="124" height="163" /></a>
        Paroh Parohije druge mostarske, prezviter Branimir Borovčanin rođen je 1. septembra 1984. godine u Sokocu. Osnovnu školu završio je 1999. godine u Sokocu, a Bogosloviju „Svetog Petra Dabrobosanskog“ u Srbinju, 2003. godine. U čin čteca rukoproizveden je 2000. godine rukom Mitropolita dabrobosanskog Gospodina Nikolaja. U čin đakona rukopoložen je na Božanstvenoj Liturgiji, 2. januara 2010. godine u Dubrovniku, rukom Episkopa zahumsko-hercegovačkog i primorskog Gospodina Grigorija. U čin sveštenika rukopoložen je na Božanstvenoj Liturgiji 7. aprila 2010. godine, u Manastiru Žitomisliću, takođe od strane Episkopa zahumsko-hercegovačkog i primorskog Gospodina Grigorija, od kada je postavljen na parohiju čapljinsku. Oženjen je Bojanom Borovčanin, rođenom Simić, i imaju sina Uroša.
        </p>

</div>