
@{
    ViewData["Title"] = "Парохија Прва Мостарска";
    Layout = "BasicCir";
}
<head>
    <style>
        .prvaslika {
            padding: 1px;
            margin: 0 15px 5px 0;
            display: inline;
            border: solid 0px black;
            float: left;
            max-width: 100%;
        }

        .neki p a:visited {
            text-decoration: none;
            color: #fff;
            border: 0px;
        }

        .neki p a {
            margin: 0;
            padding: 0;
        }

        .neki p {
            padding: 5px 0px;
            font-family: Arial, serif;
        }

        .neki {
            text-align: center;
            padding: 10px;
            background: #c2a073;
        }

        @@media (max-width:280px) {
            .prvaslika {
                float: none;
            }
        }
    </style>
</head>

<div class="neki">
    <p style="text-align: justify;">
        Парохија прва мостарска састоји се од дијела територије некадашње Српске православне црквене општине мостарске и ћелокупне територије некадашње Српске православне црквена општина дувањске. На подручју Града Мостара захвата централно подручје урбаног дијела града. Православни хришћани са овог простора за вријеме грађанског рата деведесетих година углавном су избјегли на територију Републике Српске, Србије или у друге земље широм свијета, са извјесном тенденцијом за повратак. Средишњи храм ове парохије привремено је Храм Рођења Пресвете Богородице – Стара црква у Мостару, до обнове Саборног храма Свете Тројице, која је у току. Прва мостарска парохија подијељена је на сјеверни и јужни дио.
        </p>
    <p style="text-align:justify;">
        <a href="http://saborna-crkva-mostar.com/wp-content/uploads/2013/04/krulj.jpg?lang=lat" target="_blank"><img class="prvaslika" src="http://saborna-crkva-mostar.com/wp-content/uploads/2013/04/krulj-227x300.jpg?lang=lat" alt="krulj" width="124" height="163" /></a>
        Парох Парохије прве мостарске – сјевер, протопрезвитер ставрофор Радивоје Круљ, рођен је 14. октобра 1976. године у Љубињу, од оца Миленка и мајке Сенке, рођене Вујовић. Рукоположен је у чин ђакона 9. августа 1999. године, на дан Светог Великомученика Пантелејмона у манастиру Дужи, од Епископа Захумско-херцеговачког и приморског Господина Атанасија, а у чин презвитера 19. августа 1999. године, на дан Преображења Господњег у требињској Саборној цркви од Епископа Хумског, викара Захумско-херецеговачког и приморског, Господина Григорија. Основну школу завршио у Љубињу 1991. године, а гимназију у Билећи 1995. године. Дипломирао је на Православно-богословском факултету Светог Василија Острошког у Фочи. Ожењен Наташом, рођеном Јунгић. Има шесторо дјеце: Ану, Луку, Јелисавету, Алексу, Атанасија и Давида. Досадашње парохије: Корјенићко-љубомирска 1999-2000.године, Столачко-чапљинска и Мостарско-коњичка 1999-2001. године, Невесињска трећа 2000-2007. године.
        </p>
    <p style="text-align:justify;">
        <a href="http://saborna-crkva-mostar.com/wp-content/uploads/2013/04/paroh.jpg?lang=lat" target="_blank"><img class="prvaslika" src="http://saborna-crkva-mostar.com/wp-content/uploads/2013/04/paroh-226x300.jpg?lang=lat" alt="paroh" width="127" height="169" /></a>
        Парох Парохије прве мостарске – југ, презвитер Марко Гојачић, рођен је 7. октобра 1985. године у Белој Цркви, од оца Горана и мајке Љиљане, рођене Сарић. Канонски отпуст из Епархије банатске и пријем у Епархију Захумско-херцеговачку и приморску добија 2011. године, благословом епископа Захумско-херцегобачског и приморског Господина Григорија. Рукоположен је у чин ђакона 27. новембра 2011. године, на дан Светог Аапостола Филипа, у Храму Рођења Пресвете Богородице у Мостару, од Епископа Захумско-херцеговачког и приморског Господина Григорија, а у чин презвитера рукоположен на дан Светог Игњатија Богоносца, 2. јануара 2013. године, такође од епископа Григорија. Основну школу и гимназију завршио у Белој Цркви и дипломирао на Православном богословском факултету у Београду 2011. године. Ожењен је Зорицом Гојачић, рођеном Ковач.
        </p>
    <p style="text-align:justify;">
        <a href="http://saborna-crkva-mostar.com/wp-content/uploads/2013/04/branislav.jpg?lang=lat" target="_blank"><img class="prvaslika" src="http://saborna-crkva-mostar.com/wp-content/uploads/2013/04/branislav-226x300.jpg" alt="brainslav" width="127" height="169" /></a>
        Ђакон мостарски Бранислав Рајковић рођен је на Празник Светог Апостола Томе, 19. октобра 1982. године у Мостару, од оца Славка и мајке Јованке Рајковић, рођене Иванишевић. Основну школу уписао је у Мостару, а завршио у Бачкој Тополи, гдје је похађао и Средњу пољопривредну школу. Дипломирао је на Вишој пословној школи Универзитета у Новом Саду, а апсолвент је на Православном богословском факултету Универзитета у Београду. По повратку у Мостар 2012. године, о Празнику Покрова Пресвете Богородице, од стране Епископа захумско-херцеговачког и приморског Господина Григорија, Светом тајном брака вјенчан је са Тамаром Рајковић, рођеном Јојић. У чин ипођакона Епископ захумско-херцеговачки и приморски Господин Григорије рукоположио га је на дан Светог Великомученика Димитрија, 2012. године у Храму Вазнесења Господњег у Невесињу, а за ђакона, исте године о Празнику Ваведења Пресвете Богородице у манастиру Завала. Од априла 2013. године предсједник је Српског просвјетног и културног друштва „Просвјета“ – Градски одбор Мостар.
        </p>
</div>