

@{
    ViewData["Title"] = "Riznica";
    Layout = "Basic";
}
<head>
    <style>
        .prvaslika {
            padding: 5px;
            margin: 0 15px 5px 0;
            display: inline;
            border: solid 0px black;
            float: left;
            max-width: 100%;
        }

        .neki p a:visited {
            text-decoration: none;
            color: #fff;
            border: 0px;
        }

        .neki p a {
            margin: 0;
            padding: 0;
        }

        .neki p {
            padding: 5px 0px;
            font-family: Arial, serif;
        }

        .neki {
            text-align: center;
            padding: 10px;
            background: #c2a073;
        }
        @@media (max-width:280px) {
            .prvaslika {
                object-fit:cover;
            }
        }
    </style>
</head>

<div class="neki">
    <p>
        <strong>Bogorodica sa Hristom "Strasna"</strong>
    </p>
    <p>&nbsp;</p>
    <table>
        <tbody>
            <tr>
                <td><a href="http://saborna-crkva-mostar.com/wp-content/gallery/radni/ikone/z8.jpg?lang=lat" target="_blank"><img class="prvaslika" src="http://saborna-crkva-mostar.com/wp-content/gallery/radni/ikone/z8.jpg?lang=lat" alt width="168" height="210" /></a></td>
                <td>
                    <p style="text-align:left;">- Rad iz slikarske radionice Andreje Ricosa</p>
                    <p style="text-align:left;">- Druga polovina XV vijeka</p>
                    <p style="text-align:left;">- Tempera na dasci</p>
                    <p style="text-align:left;">- Dimenzije 48.7 h 66.5 h 3cm</p>
                    <p style="text-align:left;">- Saborna crkva Svete Trojice u Mostaru</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p style="text-align:justify;">Dopojasni prikaz Bogorodice sa Hristom u naručju. U gornjem dijelu ikone, sa obe strane Bogorodičinog lika, naslikan je po jedan anđeo, koji nose simvole Hristovog stradanja. Lijevi anđeo nosi zdjelu sa kopljem i trskom, a desni klinove i veliki krst na kojem će Hristos biti razapet. Inkarnati su izvedeni okerom sa maslinasto-zelenim sijenkama, dok su najosvjetljenija mjesta označena bijelim linijama. Pozadina je zlatna, a oreoli su izvedeni utiskivanjem floralnih ornamenata.</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <p>
        <strong>Hristos "Salvator mundi"("Spasitelj svijeta")</strong>
    </p>
    <p>&nbsp;</p>
    <table>
        <tbody>
            <tr>
                <td><a href="http://saborna-crkva-mostar.com/wp-content/gallery/radni/ikone/z13.jpg?lang=lat" target="_blank"><img class="prvaslika" src="http://saborna-crkva-mostar.com/wp-content/gallery/radni/ikone/z13.jpg?lang=lat" alt width="168" height="210" /></a></td>
                <td>
                    <p style="text-align:left;">- Rad mletačkog slikara bliskog Nikoli di Pjetru</p>
                    <p style="text-align:left;">- Prva polovina XV vijeka</p>
                    <p style="text-align:left;">- Tempera na dasci</p>
                    <p style="text-align:left;">- Dimenzije 59 h 77 h 2cm</p>
                    <p style="text-align:left;">- Hram Rođenja Presvete Bogorodice u Mostaru</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p style="text-align:justify;">
                        Prikaz Isusa Hrista u sjedećem položaju, sa blagosliljajućom desnom rukom, i lijevom koja pridržava otvoreno Jevanđelje. Njegov hiton i himation oivični su zlatnim bordurama, sa ugraviranim ornamentom. Krstoliki oreol takođe je bogato obrubljen punktiranim ornamentima. Inkarnat je izveden svijetlim okerom, sa ružičastim tonovima. Pozadina ikone je zlatna.
                        Ova ikona Isusa Hrista, zajedno sa ikonom Svetog Jovana Preteče, takođe iz Stare mostarske crkve, najvjerovatnije je pribavljena između 1833. i 1835. godine, kada je podizana pomenuta crkva, čiju su izgradnju pomagali mnogi bogati Mostarci, među kojima i oni, koji su imali velike trgovačke radnje po Trstu i Veneciji i tako stizali blizu gradova odakle su slike donesene za ikonostas mostarske Stare crkve.
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <p>
        <strong>Sveti Jovan Preteča</strong>
    </p>
    <p>&nbsp;</p>
    <table>
        <tbody>
            <tr>
                <td><a href="http://saborna-crkva-mostar.com/wp-content/gallery/radni/ikone/z9.jpg?lang=lat" target="_blank"><img class="prvaslika" src="http://saborna-crkva-mostar.com/wp-content/gallery/radni/ikone/z9.jpg?lang=lat" alt width="168" height="210" /></a></td>
                <td>
                    <p style="text-align:left;">- Rad mletačkog slikara bliskog Nikoli di Pjetru</p>
                    <p style="text-align:left;">- Prva polovina XV vijeka</p>
                    <p style="text-align:left;">- Tempera na dasci</p>
                    <p style="text-align:left;">- Dimenzije 58 h 78.7 h 2cm</p>
                    <p style="text-align:left;">- Hram Rođenja Presvete Bogorodice u Mostaru</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p style="text-align:justify;">
                        Ikona Svetog Jovana Preteče rad je istog autora kao i ikona Hrista Spasitelja svijeta. Obe su nekada pripadale istoj oltarskoj cjelini i izuzetni su primjeri italijanske gotičke umjetnosti, sačuvani u Hercegovini. Figura Svetog Jovana blago je okrenuta na desnu stranu, dok je lice energično okrenuto suprotno. Njegov plašt je, kao i Hristov, opervažen zlatnim bordurama. U desnoj ruci svetitelj drži štap sa zlatnim krstom na vrhu, dok mu je u drugoj djelimično razvijen svitak. Oreol je obrubljen istim floralnim ornamentom utisnutim u podlogu, kao i na ikoni Hrista. Ruke Svetog Jovana, prošarane iscrtanim venama, prikazane su u karakterističnom vidu za gotičko slikarstvo. Inkarnat je izveden svijetlim okerom sa mrko-zelenim sijenkama i rumenilom na istaknutim dijelovima lica. Pozadina ikone je, takođe, zlatna.
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <p>
        <strong>Bogorodica "Umiljenje"</strong>
    </p>
    <p>&nbsp;</p>
    <table>
        <tbody>
            <tr>
                <td><a href="http://saborna-crkva-mostar.com/wp-content/gallery/radni/ikone/z3.jpg?lang=lat" target="_blank"><img class="prvaslika" src="http://saborna-crkva-mostar.com/wp-content/gallery/radni/ikone/z3.jpg?lang=lat" alt width="168" height="210" /></a></td>
                <td>
                    <p style="text-align:left;">- Rad nepoznatog dubrovačkog slikara</p>
                    <p style="text-align:left;">- Prva polovina XVI vijeka</p>
                    <p style="text-align:left;">- Tempera na dasci</p>
                    <p style="text-align:left;">- Dimenzije 49.5 h 73.5 h 2.5cm</p>
                    <p style="text-align:left;">- Blagovještenjski hram Manastira Žitomislića</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p style="text-align:justify;">
                        Bogoridica, tipa umiljenje, sa Hristom u naručju, prikazan ispod polukružnog reljefnog luka, nošenog stubičima sa kapitelima. Odjevena u tamnocrvenu haljinu, preko koje je plavi maforion, ukrašen krupnim zlatnim stilizovanim floralnim motivima. Licem priljubljen uz Bogorodičin obraz, Hristos je obučen u cinober haljinu, dekorisanu cvjetnim ornamentima. Lijevom rukom Hristos miluje Bogorodičino lice, dok u desnoj drži nerazvijen svitak. U lijevom i desnom gornjem uglu ikone, iznad luka, predstavljena su dva anđela, ruku prekrivenih dijelovima ogrtača. Inkarnati su brižljivo obrađeni smeđim okerom sa sivomaslinastim sjenkama i rimenilom na obrazima. Najosvjetljenija mjesta ispunjena su mekim bijelim linijama. Floralni i geometrijski ornamenti utisnuti su na zlatnoj pozadini i na oreolima.
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
</div>