@{
    ViewData["Title"] = "Saborni Hram Svete Trojice u Mostaru";
    Layout = "Basic";
}
<head>
    <style>
        .neki {
            padding: 10px;
            background: #73c2b9;
        }
            .neki p {
                font-family: Arial, serif;
            }
    </style>
</head>
<div class="neki">
    <p style="text-align:justify;">
        Saborni hram Svete Trojice u Mostaru i prestoni hram Eparhije zahumsko-hercegovačke i primorske, svojevremeno je bio jedan od glavnih simvola grada Mostara i jedan od najvećih i najljepših pravoslavnih hramova na Balkanu. Građen je u periodu između 1863. i 1873. godine, sredstvima koje je prikupljalo srpsko stanovništvo Mostara i okoline, a značajna pomoć pristigla je i od turskog sultana Abdul Aziza, kao i iz Rusije. Njegovi graditelji bili su hercegovac Spasoje Vulić, i čuveni arhitekta Andrej Damjanov Zografski.
        </p>
    <p style="text-align:justify;">
        Ovaj hram eklektičnog stila, spoj je vizantijskih, romaničkih, baroknih, gotičkih i orijentalnih elemenata. Osnova je bazilikalna, a zatvoreni glatki plašt hrama, sa malobrojnim i malim otvorima, ima romaničke odlike. Šest nejednakoh kupola sa visokim ostakljenim tamburima po uzoru su na vizantijsku arhitekturu, a visoki zvonik u baroknom je stilu. Atike su ukrašene gotičkim i orijentalnim šiljcima, što uz bogatu plastiku oko otvora ostavlja poseban i prepoznatljiv vizuelni utisak. Krajem XX vijeka centralnu kupolu i južni zid hrama oslikali su grčki freskopisci. Dimenzije hrama u osnovi su 26 puta 45 metara kvadratnih. Visina centralne kupole je 30 metara, a visina zvonika sa krstom 40 metara.
        </p>
    <p style="text-align:justify;">
        Ova monumentalna građevina potpuno je srušena u proteklom ratu 1992. godine, a od 2010. godine nalazi se u fazi obnove. U ovom hramu, 1888. godine, sahranjen je mitropolit Leontije Radulović, čije su mošti pronađenje prilikom onove hrama, a potom pohranjene u kivot, koji se nalazi u Staroj crkvi Rođenja Presvete Bogorodice u Mostaru.
        </p>
</div>