@{
    ViewData["Title"] = "Саборни Храм Свете Тројице у Мостару";
    Layout = "BasicCir";
}
<head>
    <style>
        .neki {
            padding: 10px;
            background: #c2a073;
        }

            .neki p {
                font-family: Arial, serif;
            }
    </style>
</head>
<div class="neki">
    <p style="text-align:justify;">
        Саборни храм Свете Тројице у Мостару и престони храм Епархије захумско-херцеговачке и приморске, својевремено је био један од главних символа града Мостара и један од највећих и најљепших православних храмова на Балкану. Грађен је у периоду између 1863. и 1873. године, средствима које је прикупљало српско становништво Мостара и околине, а значајна помоћ пристигла је и од турског султана Абдул Азиза, као и из Русије. Његови градитељи били су херцеговац Спасоје Вулић, и чувени архитекта Андреј Дамјанов Зографски.
        </p>
    <p style="text-align:justify;">
        Овај храм еклектичног стила, спој је византијских, романичких, барокних, готичких и оријенталних елемената. Основа је базиликална, а затворени глатки плашт храма, са малобројним и малим отворима, има романичке одлике. Шест неједнакох купола са високим остакљеним тамбурима по узору су на византијску архитектуру, а високи звоник у барокном је стилу. Атике су украшене готичким и оријенталним шиљцима, што уз богату пластику око отвора оставља посебан и препознатљив визуелни утисак. Крајем XX вијека централну куполу и јужни зид храма осликали су грчки фрескописци. Димензије храма у основи су 26 пута 45 метара квадратних. Висина централне куполе је 30 метара, а висина звоника са крстом 40 метара.
        </p>
    <p style="text-align:justify;">
        Ова монументална грађевина потпуно је срушена у протеклом рату 1992. године, а од 2010. године налази се у фази обнове. У овом храму, 1888. године, сахрањен је митрополит Леонтије Радуловић, чије су мошти пронађење приликом онове храма, а потом похрањене у кивот, који се налази у Старој цркви Рођења Пресвете Богородице у Мостару.
        </p>
</div>