


@{
    ViewData["Title"] = "Hramovi Parohijska Središta";
    Layout = "Basic";
}
<head>
    <style>
        .men a {
            color: #000;
            text-decoration: none;
            padding-bottom: 4px;
            font-family: Arial,serif;
            letter-spacing: 0px;
            text-align: center;
            display: inline;
        }

        .men {
            background: #c2a073;
            padding: 10px;
        }
    </style>
</head>

<span class="men">
    <b>
        <a href="/Home/Saborni">SABORNI HRAM SVETE TROJICE U MOSTARU</a>
    </b>
</span>

<span class="men">
    <b>
        <a href="/Home/Stara">HRAM ROĐENJA PRESVETE BOGORODICE - STARA CRKVA U MOSTARU</a>
    </b>
</span>

<span class="men">
    <b>
        <a href="/Home/Blagaj">HRAM SVETOG VASILIJA OSTROŠKOG U BLAGAJU</a>
    </b>
</span>

<span class="men">
    <b>
        <a href="/Home/Vaznesenje">HRAM VAZNESENJA GOSPODNJEG U BIJELOM POLJU</a>
    </b>
</span>