


@{
    ViewData["Title"] = "Храмови Парохијска Средишта";
    Layout = "BasicCir";
}
<head>
    <style>
        .men a {
            color: #000;
            text-decoration: none;
            padding-bottom: 4px;
            font-family: Arial,serif;
            letter-spacing: 0px;
            text-align: center;
            display: inline;
        }

        .men {
            background: #c2a073;
            padding: 10px;
        }
    </style>
</head>

<span class="men">
    <b>
        <a href="/Home/SaborniCir">САБОРНИ ХРАМ СВЕТЕ ТРОЈИЦЕ У МОСТАРУ</a>
    </b>
</span>

<span class="men">
    <b>
        <a href="/Home/StaraCir">ХРАМ РОЂЕЊА ПРЕСВЕТЕ БОГОРОДИЦЕ - СТАРА ЦРКВА У МОСТАРУ</a>
    </b>
</span>

<span class="men">
    <b>
        <a href="/Home/BlagajCir">ХРАМ СВЕТОГ ВАСИЛИЈА ОСТРОШКОГ У БЛАГАЈУ</a>
    </b>
</span>

<span class="men">
    <b>
        <a href="/Home/VaznesenjeCir">ХРАМ ВАЗНЕСЕЊА ГОСПОДЊЕГ У БИЈЕЛОМ ПОЉУ</a>
    </b>
</span>