@{
    ViewData["Title"] = "Stara Crkva u Mostaru";
    Layout = "Basic";
}
<head>
    <style>
        .neki {
            padding: 10px;
            background: #73c2b9;
        }
            .neki p {
                font-family: Arial, serif;
            }
    </style>
</head>
<div class="neki">
    <p style="text-align:justify;">
        Hram Rođenja presvete Bogorodice – Stara crkva u Mostaru nalazi se na mjestu znatno starijeg hrama. Različiti istorijski podaci svjedoče i o postojanju veoma malog hrama, nazivanog „ćelija“, koji se nalazio na ovom mjestu ili u obližnjoj pećini, a čiji nastanak se vezuje za početak XV vijeka.
    </p>
    <p style="text-align:justify;">
        Sadašnji hram, izgrađen je 1833. godine, o čemu svjedoči i natpis isklesan u kamenu iznad zapadnog ulaza u hram. To je jednobrodna kamena građevina, sa zvonikom na preslicu, što je karakteristika za crkvenu arhitekture Hercegovine i čitavog jadranskog primorja. U porti hrama, sa istočne i sjeverne strane, u nizu grobnica sa bogatom kamenom ornamentikom, sahranjeni su crkveni velikodostojnici, episkopi fanarioti i mostarski sveštenici.
    </p>
    <p style="text-align:justify;">
        U ratu 1992. godine ovaj hram je stradao od požara, a obnovljen je 2004. godine, od kada su u njemu redovno održavaju bogosluženja. Od 2010. godine ovdje su pohranjene mošti mitropolita Leontija Radulovića, izvađene ispod ruševina Saborne crkve. U Staroj pravoslavnoj crkvi u Mostaru nalazile su se vrijedne i stare relikvije, kao i veoma stare ikone domaćih, italo-kritskih, grčkih i nepoznatih majstora nastalih u periodu između XV i XIX vijeka. Većina tih dragocjenosti, poput ikone Svetog Jovana Preteče (rad mletačkog slikara bliskog Nikoli di Pjetru), ikone Isusa Hrista „Salvator mundi“ i ikone Bogorodice sa Hristom, nalazi se u riznici Vladičanskog dvora u Mostaru.
    </p>
    <p style="text-align:justify;">
        Do obnove Sabornog hrama Svete Trojice, Stara crkva u Mostaru glavni je hram Crkvene opštine mostarske i Parohije prve mostarske.
        </p>
</div>