@{
    ViewData["Title"] = "Стара Црква у Мостару";
    Layout = "BasicCir";
}
<head>
    <style>
        .neki {
            padding: 10px;
            background: #c2a073;
        }

            .neki p {
                font-family: Arial, serif;
            }
    </style>
</head>
<div class="neki">
    <p style="text-align:justify;">
        Храм Рођења пресвете Богородице – Стара црква у Мостару налази се на мјесту знатно старијег храма. Различити историјски подаци свједоче и о постојању веома малог храма, називаног „ћелија“, који се налазио на овом мјесту или у оближњој пећини, а чији настанак се везује за почетак XВ вијека.
        </p>
    <p style="text-align:justify;">
        Садашњи храм, изграђен је 1833. године, о чему свједочи и натпис исклесан у камену изнад западног улаза у храм. То је једнобродна камена грађевина, са звоником на преслицу, што је карактеристика за црквену архитектуре Херцеговине и читавог јадранског приморја. У порти храма, са источне и сјеверне стране, у низу гробница са богатом каменом орнаментиком, сахрањени су црквени великодостојници, епископи фанариоти и мостарски свештеници.
        </p>
    <p style="text-align:justify;">

        У рату 1992. године овај храм је страдао од пожара, а обновљен је 2004. године, од када су у њему редовно одржавају богослужења. Од 2010. године овдје су похрањене мошти митрополита Леонтија Радуловића, извађене испод рушевина Саборне цркве. У Старој православној цркви у Мостару налазиле су се вриједне и старе реликвије, као и веома старе иконе домаћих, итало-критских, грчких и непознатих мајстора насталих у периоду између XВ и XИX вијека. Већина тих драгоћености, попут иконе Светог Јована Претече (рад млетачког сликара блиског Николи ди Пјетру), иконе Исуса Христа „Салватор мунди“ и иконе Богородице са Христом, налази се у ризници Владичанског двора у Мостару.
        </p>
    <p style="text-align:justify;">
        До обнове Саборног храма Свете Тројице, Стара црква у Мостару главни је храм Црквене општине мостарске и Парохије прве мостарске.
    </p>
</div>