@{
    ViewData["Title"] = "Храм Вазнесења Господњег у Бијелом Пољу";
    Layout = "BasicCir";
}
<head>
    <style>
        .neki {
            padding: 10px;
            background: #c2a073;
        }

            .neki p {
                font-family: Arial, serif;
            }
    </style>
</head>
<div class="neki">
    <p style="text-align:justify;">
        Храм Вазнесења Господњег у Бијелом Бољу или „црква на Бољани“, како је хришћани овог краја зову, саграђена је 1865. године, уз мјесно гробље. У близини храма налази се и парохијски дом. Сам храм камена је грађевина, чији је унутрашњи простор ступцима подијељен у три брода.
        </p>
    <p style="text-align:justify;">
        Од великог значаја за православне хришћане у насељима дуж читавог Бијелог Поља и околних брдских и планинских села, овај храм био је сједиште Црквене општине бјелопољске. Током грађанског рата, деведесетих година XX вијека, храм и околни објекти страдали су у великој мјери, да би са обновом живота, па и богослужбених потреба православних хришћана, били обновљени, сада као сједиште Парохије треће мостарске.
        </p>
</div>