@{
    ViewData["Title"] = "Hram Vaznesenja Gospodnjeg u Bijelom Polju";
    Layout = "Basic";
}
<head>
    <style>
        .neki {
            padding: 10px;
            background: #c2a073;
        }
            .neki p {
                font-family: Arial, serif;
            }
    </style>
</head>
<div class="neki">
    <p style="text-align:justify;">
        Hram Vaznesenja Gospodnjeg u Bijelom Bolju ili „crkva na Boljani“, kako je hrišćani ovog kraja zovu, sagrađena je 1865. godine, uz mjesno groblje. U blizini hrama nalazi se i parohijski dom. Sam hram kamena je građevina, čiji je unutrašnji prostor stupcima podijeljen u tri broda.
        </p>
    <p style="text-align:justify;">
        Od velikog značaja za pravoslavne hrišćane u naseljima duž čitavog Bijelog Polja i okolnih brdskih i planinskih sela, ovaj hram bio je sjedište Crkvene opštine bjelopoljske. Tokom građanskog rata, devedesetih godina XX vijeka, hram i okolni objekti stradali su u velikoj mjeri, da bi sa obnovom života, pa i bogoslužbenih potreba pravoslavnih hrišćana, bili obnovljeni, sada kao sjedište Parohije treće mostarske.
        </p>
</div>