@{
    ViewData["Title"] = "Владичански двор у Мостару";
    Layout = "BasicCir";
}
<head>
    <style>
        .neki {
            padding: 10px;
            background: #c2a073;
        }

            .neki p {
                font-family: Arial, serif;
            }
    </style>
</head>
<div class="neki">
    <p style="text-align:justify;">
        Владичански двор у Мостару саграђен је 1910. године у необарокном стилу, по пројекту Карла Паржика, једног од најзначајнијих архитеката у Босни и Херцеговини с краја XИX и почетка XX стољећа. На овој грађевини посебно се истичу богатство текстуре и софистицираност декорације у ентеријеру и на фасадама објекта. До рата 1992. године, када је у великој мјери страдао, Двор је био сједиште Епископа и Епархије захумско-херцеговачке, што је поново од 2011. године. Обова протеклих година начинила га је поново бисером градске архитектуре Мостара. Његову унутрашњост, поред стилског намјештаја српског градског становништва и драгоћених умјетничких дјела, краси и епархијска ризница, са веома значајним иконама, рукописима и црквеним предметима, који датирају од XВ до XX вијека.
        </p>

</div>