@{
    ViewData["Title"] = "Vladičanski dvor u Mostaru";
    Layout = "Basic";
}
<head>
    <style>
        .neki {
            padding: 10px;
            background: #c2a073;
        }
            .neki p {
                font-family: Arial, serif;
            }
    </style>
</head>
<div class="neki">
    <p style="text-align:justify;">
        Vladičanski dvor u Mostaru sagrađen je 1910. godine u neobaroknom stilu, po projektu Karla Paržika, jednog od najznačajnijih arhitekata u Bosni i Hercegovini s kraja XIX i početka XX stoljeća. Na ovoj građevini posebno se ističu bogatstvo teksture i sofisticiranost dekoracije u enterijeru i na fasadama objekta. Do rata 1992. godine, kada je u velikoj mjeri stradao, Dvor je bio sjedište Episkopa i Eparhije zahumsko-hercegovačke, što je ponovo od 2011. godine. Obova proteklih godina načinila ga je ponovo biserom gradske arhitekture Mostara. Njegovu unutrašnjost, pored stilskog namještaja srpskog gradskog stanovništva i dragocjenih umjetničkih djela, krasi i eparhijska riznica, sa veoma značajnim ikonama, rukopisima i crkvenim predmetima, koji datiraju od XV do XX vijeka.
        </p>

</div>