

@{
    ViewData["Title"] = "Zdanja";
    Layout = "Basic";
}
<head>
    <style>
        .men a {
            color: #000;
            text-decoration: none;
            padding-bottom: 4px;
            font-family: Arial,serif;
            letter-spacing: 0px;
            text-align: center;
            display: inline;
        }

        .men {
            background: #73c2b9;
            padding: 10px;
        }
    </style>
</head>

<span class="men">
    <b>
        <a href="/Home/Hramovi">HRAMOVI</a>
    </b>
</span>

<span class="men">
    <b>
        <a href="/Home/Groblja">GROBLJA</a>
    </b>
</span>

<span class="men">
    <b>
        <a href="/Home/Vladicanski">VLADIČANSKI DVOR U MOSTARU</a>
    </b>
</span>

<span class="men">
    <b>
        <a href="/Home/Zgrada">ZGRADA STARE ŠKOLE U MOSTARU</a>
    </b>
</span>