@{
    ViewData["Title"] = "Зграда Старе Школе у Мостару";
    Layout = "BasicCir";
}
<head>
    <style>
        .neki {
            padding: 10px;
            background: #c2a073;
        }

            .neki p {
                font-family: Arial, serif;
            }
    </style>
</head>
<div class="neki">
    <p style="text-align:justify;">
        Православна српска народна школа у Мостару, „Школа под кошћелама“ или „Бина“ како су је Мостарци радо звали, прва је мјешовита, мушко-женска школа у Босни и Херцеговини, а забиљежено је да су је поред православне, похађала и дјеца римокатоличке вјероисповијести. Била је смјештена у каменој згради сведене архитектуре, између Саборног храма и Старе цркве, чинећи са њом складан архитектонски однос. Након посљедњих ратних разарања од овог објекта остали су једва зидови, који се од недавно такође обнављају. Школска установа, која је ту била смјештена, са својим угледним учитељима и ђацима, имала је изузетан значај у периоду од XВИИИ до XX вијека.
        </p>

</div>