@{
    ViewData["Title"] = "Zgrada Stare Škole u Mostaru";
    Layout = "Basic";
}
<head>
    <style>
        .neki {
            padding: 10px;
            background: #73c2b9;
        }
            .neki p {
                font-family: Arial, serif;
            }
    </style>
</head>
<div class="neki">
    <p style="text-align:justify;">
        Pravoslavna srpska narodna škola u Mostaru, „Škola pod košćelama“ ili „Bina“ kako su je Mostarci rado zvali, prva je mješovita, muško-ženska škola u Bosni i Hercegovini, a zabilježeno je da su je pored pravoslavne, pohađala i djeca rimokatoličke vjeroispovijesti. Bila je smještena u kamenoj zgradi svedene arhitekture, između Sabornog hrama i Stare crkve, čineći sa njom skladan arhitektonski odnos. Nakon posljednjih ratnih razaranja od ovog objekta ostali su jedva zidovi, koji se od nedavno takođe obnavljaju. Školska ustanova, koja je tu bila smještena, sa svojim uglednim učiteljima i đacima, imala je izuzetan značaj u periodu od XVIII do XX vijeka.
        </p>

</div>